html
    head
        title #{user.name}
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet")
        style(type="text/css").
            body{
                 font-family: 'Press Start 2P','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            div{
                display:flex;
                flex-direction:column;
                width:50vw;
                margin:0 auto;
                border:1px solid black;
                text-align:center;
                background:#FFFFF0;
            }
    body
        div
            if user != null
                if isAuth==true 
                    h1 #{user.name}-me
                else 
                    h1 #{user.name}
                p battles: #{user.fights}
                a(href="../") to the main page 
                if isAuth==true
                    a(href="../logout") logout
            else
                p No such page!