html
    head
        title Users
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet")
        style(type="text/css").
            body{
                 font-family: 'Press Start 2P','Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            ul{
                display:flex;
                margin:0 auto;
                flex-direction:column;
                width:50vw;
                background:#FFFFF0;
                padding:0;
            }
            li{
                display:flex;
                justify-content:space-between;
                border:1px solid black;
            }
            li>p{
                width:100%;
                text-align:center;
            }
    body
        if users != null
           ul
            each val in users.length ? users : ['There are no users']
                li
                    p User name: 
                        a(href="/user/"+val.name) #{val.name} 
                    p Battles: #{val.fights}
        else
            p No such page!